.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  /* ocupar toda a largura */
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  /* 1.5rem = 20px no desktop */
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}

/* ================ BAREND EFFECTS ================ */

.experienceBar__poly {
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
}

.experienceBar__poly img {
  height: 20px;
  width: 28px;
  position: relative;
  right: -100%;
}

.experienceBar__poly__teal {
  transform: translateX(-65%) translateY(-30%);
}

.experienceBar__poly__purple {
  transform: translateX(-65%) translateY(-75%);
}

.experienceBar__poly__green {
  transform: translateX(-45%) translateY(-80%);
}
